<!DOCTYPE html>
<html data-theme="dark" style="background: #070707;">
<head>
    <!-- Quelques trucs -->
    <title>Télécommande EcoCast</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

    <!-- Un peu de JS -->
    <script src="public/remote.js"></script>

    <!-- Un peu de CSS -->
    <link rel="stylesheet" href="public/remote.css">

    <!-- Meta tag pour les réseaux -->
    <meta property="og:title" content="EcoCast">
</head>
<body class="grid place-items-center">
<!-- Boutons du haut -->
<div id="upperButtons">
    <button id="upperButton_right" onclick="showLauncher()" class="absolute left-4 top-4 rounded-full center text-white" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 48px; height: 48px;"><i style="font-size: 1.2rem;" class="center fas fa-bars" style="color: #fff;"></i></button>
    <button id="upperButton_left" onclick="powerOff()" class="absolute right-4 top-4 rounded-full center text-white" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 48px; height: 48px;"><i style="font-size: 1.2rem;" class="center fas fa-power-off" style="color: #fff;"></i></button>
</div>

<!-- Opad -->
<div id="opadMain">
    <img id="opad" src="./public/opad.png" width="256" height="256" oncontextmenu="return false;">
</div>

<!-- Demander un code de connexion -->
<div id="associationCodeBackgroundOpacity" class="absolute bg-black opacity-40 inset-0 z-0"></div>
<div id="askAssociationCodeContainer" class="fixed bg-gray-800 text-white rounded-xl py-12 px-1 grid place-items-center text-center" style="width: 94%; z-index: 2">
    <h1 class="text-3xl font-semibold">Se connecter</h1>
    <p id="askAssociationSubtitle" class="mt-1 px-2 text-md md:text-lg">Pour vous connecter, entrer le code qui s'affiche sur votre écran</p>
    <input onkeypress="if(event.keyCode == 13){ this.focus(); event.preventDefault(); connectToSocket(this.value) }" class="mt-4 input w-full text-center" style="max-width: 50%;" id="associationCode" type="number" placeholder="Code à 6 chiffres">
</div>

<!-- Demande via modal -->
<div id="askModal_backgroundOpacity" class="hidden absolute bg-black opacity-40 inset-0 z-0"></div>
<div id="askModal_container" class="hidden fixed bg-gray-800 text-white rounded-xl py-12 px-1 grid place-items-center text-center" style="width: 94%; z-index: 2">
    <h1 id="askModal_title" class="text-3xl font-semibold">TITLE</h1>
    <p id="askModal_description" class="mt-1 px-2 text-md md:text-lg">DESCRIPTION</p>
    <div id="askModal_inputs" class="mt-2" style="min-width: 50%"></div>
</div>

<!-- Barre de volume sur le côté gauche -->
<div id="volumeIndicator" class="absolute left-0 z-0 hidden">
    <div style="width:50px; height:200px; background: rgba(255,255,255,0.1); backdrop-filter: blur(5px); border-radius: 20px;">
        <div id="volumeIndicator_progress" style="width:100%; background-color: rgba(255,255,255,0.9); position:absolute; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 8px; border-top-left-radius: 8px; bottom:0; height:70%"></div>
    <p id="volumeIndicator_number" class="grid place-items-center mix-blend-difference"></p>
</div>
</div>

<!-- Drawer/launcher d'applications -->
<div id="launcherContainer" class="p-4 w-full absolute top-20 hidden">
    <!-- Launcher d'applications -->
    <div>
        <div style="background-color: #232323; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" class="rounded-xl w-full py-8 px-2 space-y-4 center">
            <div class="grid grid-rows-3 grid-cols-3 md:grid-cols-5 gap-x-2 gap-y-4 sm:gap-4 text-white">
                <% Object.entries(apps).forEach(app => { %>
                    <% if (app[1].hidden === false) { %>
                        <div class="center text-center">
                            <img onclick="startApp(this)" width="64" height="64" src="./public/icons/<%= app[1].icon %>" class="rounded-full w-16 h-16 cursor-pointer">
                            <span class="text-sm mt-1 center"><%= app[1].name %></span>
                        </div>
                    <% } %>
                <% }) %>
                <div class="center text-center">
                    <img onclick="doScreenshot(this)" width="64" height="64" src="./public/icons/screenshot.png" class="rounded-full w-16 h-16 cursor-pointer">
                    <div id="screenshotApp_loader" class="w-8 h-8 border-4 border-teal-600 rounded-full loader hidden"></div>
                    <span class="text-sm mt-1 center">Capture</span>
                </div>
                <div class="center text-center">
                    <img onclick="hideScreen()" width="64" height="64" src="./public/icons/chhh.png" class="rounded-full w-16 h-16 cursor-pointer">
                    <span class="text-sm mt-1 center">Masquer écran</span>
                </div>
                <div class="center text-center">
                    <img onclick="castContent()" width="64" height="64" src="./public/icons/cast.png" class="rounded-full w-16 h-16 cursor-pointer">
                    <span class="text-sm mt-1 center">Caster</span>
                </div>
                <div class="center text-center">
                    <a href="https://johanstick.fr/contact" target="_blank"><img width="64" height="64" src="./public/icons/plus.png" class="rounded-full w-16 h-16 cursor-pointer"></a>
                    <span class="text-sm mt-1 center">Suggérer</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Bouton pour afficher un clavier virtuelle -->
    <div class="absolute bottom-0 right-0 mb-4 mr-4">
        <button onclick="showVirtualKeyboard()" class="bg-gray-800 px-4 py-2 md:px-8 md:py-4 text-white" style="border-top-left-radius: 99999px;">
            <i class="fas fa-keyboard relative top-1 left-1 md:left-2 md:text-3xl"></i>
        </button>
    </div>
</div>

<div class="absolute bottom-0 left-0 flex" style="margin-left: 0.5rem; margin-bottom: 0.5rem;" id="battery">

</div>

<!-- Boutons de contrôles -->
<div id="controlButtonContainer" style="width: 256px;">
    <div class="controlButtonContainer text-white">
        <div class="right-controlButton" style="margin-left: 0; margin-right: auto; max-width: 100px;">
            <button actionName="back" class="controlButton rounded-full mr-4 mb-4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 100px; height: 100px;"><i style="font-size: 2rem;" class="center fas fa-angle-left" style="color: #fff;"></i></button>
            <button actionName="pause" class="controlButton rounded-full mr-4 mb-4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 100px; height: 100px;"><i style="font-size: 1.2rem;" class="center fas fa-pause" style="color: #fff;"></i></button>
            <button actionName="mute" class="controlButton rounded-full mr-4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 100px; height: 100px;"><i style="font-size: 1.2rem;" class="center fas fa-volume-slash" style="color: #fff;"></i></button>
        </div>
        <div class="left-controlButton" style="margin-left: auto; margin-right: auto; max-width: 100px;">
            <button actionName="home" class="controlButton rounded-full ml-4 mb-4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 100px; height: 100px;"><i style="font-size: 1.2rem;" class="center fas fa-home" style="color: #fff;"></i></button>
            <div class="rounded-full ml-4 mb-4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 1px rgba(255, 255, 255, 0.06); background-color: #1C1C1D; width: 100px;">
                <button actionName="volumeUp" class="controlButton mb-2" style="width: 100px; height: 100px;"><i style="font-size: 1.2rem;" class="center fas fa-plus" style="color: #fff;"></i></button>
                <button actionName="volumeDown" class="controlButton mt-2" style="width: 100px; height: 100px;"><i style="font-size: 1.2rem;" class="center fas fa-minus" style="color: #fff;"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Clavier virtuelle invisible (permet de faire croire aux mobiles qu'un clavier est présent sur la page) -->
<input id="virtualKeyboardInput" autocapitalize="off" hidden type="text" style="width: 0px; height: 0px; background-color: transparent; color: transparent; position: absolute; top: 0px; right: 0px;">
</body>
</html>
